@import base/mixins
@import base/colors

*, *:before, *:after
	padding: 0
	margin: 0
	box-sizing: inherit

html, body
	overflow-x: hidden
	box-sizing: border-box

html
	height: 100%

body
	height: auto !important
	height: 100%
	min-height: 100%
	background-color: $dark-grey
	color: $main-text

img
	border: 0
	vertical-align: top

ul
	list-style: none

a, a:link, a:active, a:visited
	color: $blue
	&:hover
		color: $orange
		text-decoration: none

main.main-page-wrapper
	padding: vr(1) 0
	& > * > *
		padding: 0 vr(.5)

span
	&.word-highlight-orange
		color: $orange
	&.word-highlight-turquoise
		color: $turquoise

.my-face
	width: vr(6)
	height: vr(6)
	border-radius: 100%
	margin: vr(.5) auto
	margin-bottom: vr(1.5)
	padding: 0 !important
	overflow: hidden
	img
		width: 100%

.techs
	$logo-wrap: vr(2)
	&:nth-child(2n)
		background-color: lighten($dark-grey, 6%)
	&:nth-child(2n+1)
		background-color: lighten($dark-grey, 2%)
	li
		position: relative
		height: $logo-wrap
		padding-left: $logo-wrap
		line-height: $logo-wrap
		img
			max-width: 32px
			max-height: 32px
			position: absolute
			top: 0
			bottom: 0
			left: 0
			margin: auto
